.CartItem img {
    height: 14rem;
    width: 14rem;
    padding: 6px;
    border-radius: 10px;
}

.CartItem {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 1.5rem 0;
    width: 90%;
    border-radius: 20px;
    justify-content: space-between;
}

.CartItem-content {
    width: 50%;
}

.boardGame-name {
    font-weight: bold;
}
