.CartItem img {
    height: 14rem;
    width: 14rem;
    padding: 6px;
    border-radius: 10px;
}

.CartItem {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 1.5rem 0;
    width: 90%;
    border-radius: 20px;
    justify-content: space-between;
}

.CartItem-content {
    width: 50%;
}

.boardGame-name {
    font-weight: bold;
}

.CartItem-increments {
    display: flex;
    margin-bottom: 10px;
}

.CartItem-increments > * {
    width: 32px;
    height: 32px;
    text-align: center;
    margin: 0;
    border: 1px solid #d1d9e6;
}

.CartItem-increments > p {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.CartItem-increments > button:hover {
    cursor: pointer;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
}

.CartItem a {
    margin-top: 10px;
}

.CartItem a:hover {
    text-decoration: underline;
    color: red;
    cursor: pointer;
}
