.btn {
    border-radius: 2rem;
    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
}

.CartSubtotal {
    padding: 10px;
    border-radius: 20px;
    margin: 1.5rem 0;
    position: sticky;
    top: 30px;
}

.Cart-content {
    width: 100%;
}
