.product-list-wrapper {
    margin-left: 17rem;
    margin-right: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4.18rem;
}

.product-list-item {
    border-radius: 10px;
    width: 20rem;
    margin-top: 1rem;
    padding: 10px;
}

.Page-Wrapper {
    height: 5rem;
    display: flex;
    align-items: center;
}

.Page-Wrapper a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.product-list-wrapper a {
    transition-duration: 0.3s;
    border-radius: 10px;
}
