.user-avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.small-password {
    font-size: 10px;
}

.user-wrapper {
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    gap: 10rem;
}

.user-nav-bar {
    display: flex;
    width: 150px;
}
