.user-avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.small-password{
    font-size:10px;
}

.user-wrapper {
    margin-right: 17rem;
    margin-left: 17rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;

}

.user-nav-bar {
    width: 150px;
}