.product-card {
    display: flex;
    flex-direction: column;
    height: 18rem;
    width: 18rem;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: small;
}
.product-card img {
    height: 12rem;
    width: 12rem;
    padding: 6px;
    border-radius: 10px;
}

.product-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-name {
    margin-top: 15px;
    margin-bottom: 5px;
}
