body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #44476a;
    text-align: left;
    background-color: #e6e7ee;
}

* {
    color: #44476a;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/* Use this class for all neumorphism without a border */
.neumorphism {
    background: linear-gradient(134.17deg, #eef0f5 4.98%, #e6e9ef 94.88%);
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff !important;
    transition: 0.2s;
}

/* Use this for everything that we populate */
.neumorphism-with-border {
    background: linear-gradient(134.17deg, #eef0f5 4.98%, #e6e9ef 94.88%);
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff !important;
    transition: 0.2s;
    border: 0.0625rem solid transparent;
    border-color: #d1d9e6;
}

/* Use this for hover, active */
.neumorphism-inset {
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
}

/* use this with <hr/> for a splitter */
.splitter {
    border-radius: 10px;
    width: 100%;
    padding: 2px;
    background-color: white;
    border: 0px;
    background: linear-gradient(134.17deg, #eef0f5 4.98%, #e6e9ef 94.88%);
    background: #e6e7ee;
    box-shadow: inset 1px 1px 2px #c4c4ca, inset -1px -1px 2px #ffffff;
}

/* use this for all buttons */
.neumorphism-btn {
    transition-duration: 1s;
    height: 2rem;
    border-radius: 2rem;
    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
    border: 0.0625rem solid transparent;
    border-color: #d1d9e6;
    transition: 0.3s;
}

.neumorphism-btn:hover {
    box-shadow: none;
    transition: 0.3s;
}
