.product-page {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
}

.product-product-wrapper {
    display: flex;
}

.product-wrapper {
    display: flex;
    width: 60rem;
    border-radius: 20px;
    padding: 2rem;
}

.product-wrapper img {
    border-radius: 10px;
    height: 20rem;
    width: 20rem;
    padding: 6px;
}

.product-content {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.product-specific {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-left: 3rem;
    width: 22rem;
}

.product-specific hr {
    width: 90%;
}

.product-specific p {
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.product-specific button {
    margin-left: 14px;
    margin-top: 4rem;
    width: 90%;
}

.product-specific-price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: 800;
    height: 10rem;
}

.rating-wrapper {
    margin-top: 3rem;
    margin-bottom: 3rem;
    height: auto;
    width: 100%;
    border-radius: 20px;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-rating {
    width: 90%;
    border-radius: 20px;
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0.0625rem solid transparent;
    border-color: #d1d9e6;
}

.user-rating img {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
}

.user-rating-user-wrapper {
    display: flex;
    align-items: center;
}

.user-rating-content {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.user-rating-content p {
    margin: 0;
    margin-bottom: 10px;
}
