.admin-page-navbar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.admin-page-navbar a {
    display: flex;
    border-radius: 1rem;
    height: 3rem;
    width: 7rem;
    align-items: center;
    justify-content: center;
}

.admin-nav-link-active {
    border: 0.0625rem solid transparent;
    border-color: #d1d9e6;
    border-radius: 1rem;
    /* height: 3rem; */
}

.admin-page-content {
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
}

.admin-page-wrapper {
    margin-left: 17rem;
    margin-right: 17rem;
}

.admin-product-item-wrapper {
    display: flex;
    background: linear-gradient(134.17deg, #eef0f5 4.98%, #e6e9ef 94.88%);
    box-shadow: 1px 1px 2px #bebebe, -1px -1px 2px #ffffff;
    padding: 2px;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.admin-product-item-wrapper button {
    border: 0;
    background-color: inherit;
    cursor: pointer;
}

.admin-product-item {
    display: flex;
}

.admin-product-item div {
    width: 16rem;
}

.admin-product-item div:first-child {
    width: 19rem;
}

.admin-page-users {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

.admin-page-user-item-wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 6rem;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
}

.admin-page-user-item-wrapper img {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
}

.admin-page-user-item-wrapper p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-page-form {
    width: fit-content;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
}

.admin-page-form img {
    height: 25rem;
    width: 25rem;
    object-fit: cover;
    border-radius: 10px;
    padding: 5px;
}

.admin-page-form button {
    margin-top: 20px;
    width: 100%;
}

.admin-page-form button:disabled {
    box-shadow: none;
    cursor: default;
}
