.search-form {
    margin:0;
}

.search-wrapper {
    position: relative;
    display: flex;
    min-width: 10px;
}

.search-icon {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 20px;
    /*cursor: pointer;*/
}

.clear-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 20px;
    cursor: pointer;
    /*visibility: hidden;*/
}

.search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 36px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
}

.search:hover, .search:focus {
    border: 1.5px solid #009688;
    background-color: white;
}

.search-result {
    position: absolute;
    width: 195px;
    z-index: 10;
    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
    background: linear-gradient(134.17deg, #eef0f5 4.98%, #e6e9ef 94.88%);
    border-radius: 8px;
    padding: 15px 20px;
}

.search-result:hover {
    cursor: pointer;
}

.result-item {
    display:flex;
    flex-direction:row;
}

.item-image img {
    height: 4rem;
    width: 4rem;
    padding: 6px;
    border-radius: 10px;
}