.login-wrapper {
    display: flex;
    flex-direction: row;
    height: 40rem;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.login-wrapper form {
    display: flex;
    flex-direction: column;
    width: 20rem;
}

.login-wrapper form label {
    font-size: 0.875rem;
    margin-bottom: 10px;
}

.login-wrapper form input:first-of-type {
    margin-bottom: 1rem;
}

.login-wrapper form input:focus {
    outline: none !important;
}

.login-wrapper form button {
    margin-top: 0.5rem;
    height: 2.5rem;
}

.login-wrapper form a {
    text-align: center;
    font-size: 0.75rem;
    margin-top: 0.5rem;
}

.user-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    width: 3.5rem;
    padding: 0;
    border-radius: 50%;
    font-size: 0.8rem;
}

.menu-container {
    position: relative;
}

.menu {
    border-radius: 8px;
    position: absolute;
    top: 70px;
    width: 100px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
    background: linear-gradient(134.17deg, #eef0f5 4.98%, #e6e9ef 94.88%);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
    z-index: 10;
}

.menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    border-bottom: 1px solid #dddddd;
}

.menu :last-child {
    border: 0;
}

.menu li a {
    text-decoration: none;
    color: #333333;
    padding: 15px 20px;
    display: block;
}

.menu-trigger {
    cursor: pointer;
}

.menu-trigger:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}
